*lww#test1@time:0!
        :a      'A' ,

*lww#test2@2:0!
    @1  :a      'A' ,
    @2  :b      'B' ,

*lww#test3@2:1!
        :a      'A2' ,

*lww#test4@3:1!
        :a      'A2' ,
        :b      'B2' ,
    @2  :c      'C1' ,

*lww#array@2:0! 
    @1  :0%0      =0  ,
    @2  :0%0000000001    '1' ,
        :0000000001%0    =1  ,
        :0000000001%0000000001    =2  ,

